.navbar {
    height: 5rem;
    width: 120vw;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.122);
    margin: 0 auto;
    /* padding: 0rem 2rem; */
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 5;
    max-width: 79rem;
}
#left_logo {
    padding-left: 2em;
}
#right_logo {
    padding-right: 2em;
}
.logo {
    object-fit: cover;
    height: 2.5rem;
    width: auto;
   
}

.desktopMenuListItem:hover {
    color: green;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid green;
}

.desktopMenu {
    padding-right: 3rem;

}
.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
    color: black;
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    
    
 
}
